.imagen img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.tarjeta {
  background: whitesmoke;
  width: 330px;
  height: 370px;
  border-radius: 10px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 10);
  overflow: hidden;
  margin: 20px;
  text-align: center;
}
.imagen {
  position: relative;
  top: 30px;
}
.contenedor-main {
  bottom: 100px;
  width: 100%;
  max-width: 325px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.informacion {
  position: relative;
  top: 20px;
}
.informacion h2 {
  position: relative;
  right: 1px;
  top: 40px;
}
.informacion h4 {
  position: relative;
  right: 2px;
  top: 58px;
  font-size: 18px;
}
.informacion p {
  justify-content: center;
  position: relative;
  top: 80px;
  right:2px;
  font-size: 22px;
}
